.background{
    width: 100%;
    height: 93vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
} 

.row{
    display: flex;
    height: 60%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.col{
    flex-basis: 100%;
    display: flex;
  justify-content: center;
}
h1{
    color: #fff;
    font-size: 100px;
}
p{
    color: #fff;
    font-size: 20px;
    line-height: 15px;
}
button{
    width: 180px;
    color #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.venue {
    width: 290px;
    height: 400px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 5px 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.venue1{
    background-image: url(../images/pic-1.jpg);
}
.venue2{
    background-image: url(../images/pic-2.jpg);
}
.venue3{
    background-image: url(../images/pic-3.jpg);
}
.venue4{
    background-image: url(../images/pic-4.jpg);
}
.venue5{
    background-image: url(../images/pic-5.jpg);
}
.venue6{
    background-image: url(../images/pic-6.jpg);
}

.venue:hover{
    transform: translateY(-10px);
}

h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}

